# Carpetas de Visual Studio
.vs/
*.user
*.suo

# Carpetas de salida de compilación
**/bin/
**/obj/

# Archivos del sistema
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db

# Configuraciones de IDE
.idea/
*.userosscache
*.sln.docstates
