@using Dominio
@model Vuelo
@(ViewData["Title"] = "Detalles del vuelo")

<div class="card" style="width: 28rem;">
    <div class="card-body">
        <h5 class="card-title">Vuelo @Model.Ruta</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Precio : $@(Model.CalcularCostoSinEquipajeParaVistaDetails().ToString("F2"))</h6>
        
        <a href="~/Vuelo/ListarVuelos" class="btn btn-primary">Volver</a>
        
    </div>
</div>