@using Dominio;
@model List<Vuelo>

<h2>LISTA DE VUELOS:</h2>


@if (Model.Count() == 0)
{
    <div class="alert alert-danger">

        <p>No hay vuelos para mostrar. </p>
    </div>

}
else
{


    <table class="table table-hover table-dark">
        <thead>
            <tr>

                <th scope="col">NUMERO DE VUELO</th>
                <th scope="col">RUTA</th>
                <th scope="col">FRECUENCIA</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>


            @foreach (Vuelo vuelo in Model)
            {

                <tr>

                    <td>@vuelo.NumVuelo</td>
                    <td>@vuelo.Ruta</td>
                    <td>@foreach(DayOfWeek dia in vuelo.Frecuencia) //para mostrar la frecuencia
                        {
                            @dia <br/>
                        }
                     </td>
                    <td><a href="~/Vuelo/Details/@vuelo.NumVuelo" class="btn btn-info">Ver detalle</a></td>
                </tr>
            }
                    </tbody>
    </table>
            
}